<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.DictDataMapper">
  <resultMap id="BaseResultMap" type="com.sky.domain.DictData">
    <!--@mbg.generated-->
    <!--@Table sys_dict_data-->
    <id column="dict_code" jdbcType="BIGINT" property="dictCode" />
    <result column="dict_sort" jdbcType="INTEGER" property="dictSort" />
    <result column="dict_label" jdbcType="VARCHAR" property="dictLabel" />
    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
    <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    dict_code, dict_sort, dict_label, dict_value, dict_type, `status`, remark, create_by, 
    create_time, update_by, update_time
  </sql>
</mapper>